

<div>
  <h1>Stupid Coaching</h1>
    <form action="/answer" method="get" class= "mt-6">
    <label for="ask">Ask your coach anything</label><br>
      <input type="text" name="question">
      <input type="submit" value="Ask the coach!" class="btn btn-primary">
    </form>
</div>
